@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: #333;
}

nav {
  background-color: #ed1d24;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
}

nav span {
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
}

.container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie-box {
  background-color: transparent;
  width: 300px;
  height: 450px;
  margin: 0.5rem;
  perspective: 1000px;
}

.movie-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.movie-box:hover .movie-content {
  transform: rotateY(180deg);
}

.movie-front,
.movie-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.movie-front {
  width: 100%;
  border-radius: 10px;
}

.movie-front img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
}

.movie-back {
  transform: rotateY(180deg);
  padding: 0 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: #ed1d24 inset 3px;
  border-radius: 10px;
}

.movie-back h3 {
  margin-bottom: 1rem;
}

.movie-back .subtitle {
  margin-bottom: 1rem;
}

.movie-back span {
  margin: 0 0.25rem;
}

.movie-back .rating {
  background-color: #ed1d24;
  border-radius: 50%;
  padding: 0.5rem;
}

.movie-back .runtime {
  background-color: #fff;
  color: #ed1d24;
  border-radius: 15px;
  padding: 0.5rem 0.75rem;
}

.movie-back button {
  background-color: #ed1d24;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  border-radius: 15px;
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
}

.movie-back button:focus {
  outline: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.visible {
  display: block;
}

.modal-content {
  margin: auto;
  width: min(1200px, 100%);
}

.close {
  color: #fff;
  position: fixed;
  top: -10px;
  right: 22px;
  font-size: 4rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

/* Embed */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-device-width: 1200px) and (orientation: landscape) {
  .modal {
    padding-top: 0;
  }
  .video-container iframe {
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .modal {
    padding-top: calc(50vh - 116px);
  }
  .modal-content {
    width: 100%;
  }
  nav {
    flex-direction: column;
    font-size: 3rem;
  }
  nav span {
    margin-top: 0.5rem;
  }
}
